# Python virtual environments
productivity_venv
venv/
env/
.env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml

# MacOS specific files
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swoproductivity_venv
